<div class="container">
  <di class="row">
    <div class="col-md-12 col-12">
      <h3>ブックマーク一覧</h3>
      <div class="row">
        <% if @bookmark_list.present? %>
          <% @bookmark_list.each do |b| %>
            <div class="col-md-2 col-6">
              <div class="bookmark_list">
                <p class="text-center">
                  <%= link_to post_path(b.id) do %>
                    <% if b.image.attached? %>
                      <%= image_tag b.image, size: "150x150" %>
                    <% else %>
                      <%= image_tag "no_image", size: "150x150" %>
                    <% end %><br>
                    <%=  b.store_name %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </di>
</div>