<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        らーめん街道へようこそ!<br>
        あなたのお気に入りのラーメンをシェアしたり<br>
        みんなのおすすめを見てみよう
      </p>
    </div>
  </div>
</div>
