<h3>情報提供一覧</h3>

  <table class="post">
    <thead>
      <tr>
        <th>提供日時</th>
        <th>会員ニックネーム</th>
        <th>店舗名</th>
        <th>店舗情報</th>
    </tr>
    </thead>
    <tbody>
      <% @post.each do |post| %>
      <tr>
        <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= post.customer.name %></td>
        <td><%= link_to post.store_name, admin_homes_show_path(post.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
