<div class="container">
  <div class="row">
    <%= render 'public/posts/show', posts: @posts %>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="review">
        <h4>
          <%= link_to "口コミ一覧", post_path(@post.id) %>
          画像一覧
        </h4>
        <div class="image_list">
          <% @reviews.each do |r| %>
            <% if r.images.attached? %>
              <% r.images.each do |image| %>
                <%=link_to image, "data-lightbox": image do %>
                  <%= image_tag image, size: '80x80' %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>