@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.container {
  padding-top: 30px;
}

.top-text {
  text-align: center;
  padding-top: 20%;
}

.registration {
  text-align: center;
  padding-top: 10%;
}

.tag_check {
  height: 20px;
}

.login {
  text-align: center;
  padding: 180px;
}

.subtitle {
  padding-top: 20px;
}

.registration {
  text-align: center;
}

.field {
  text-align: center;
}

.post_list {
  padding-top: 10px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
 }

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
 }

 .map {
  height: 300px;
  width: 400px;
}
