@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.shadow { //ヘッダー
  background-color: black;
  color: yellow;
}

.footer {
  background-color: black;
  color: yellow;
  font-family: Comic Sans MS;
  margin-top: auto
}

.container {
  padding-top: 30px;
}

.notice {
  color: red;
}

.top-text {
  text-align: center;
  padding-top: 20%;
}

.title_name {
  font-size: 2em;
}

.collapse {
  margin-right: 40%;
}

.tag_check {
  height: 20px;
}

.login {
  text-align: center;
  padding-top: 10%;
}

.subtitle {
  padding-top: 20px;
}

.registration {
  text-align: center;
}

.field {
  padding: 10px;
}

.post_list {
  padding-top: 10px;
}

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080;
  margin-left: 20px;
 }

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
 }

 .map {
  height: 300px;
  width: 400px;
}
