<caption>ブックマーク一覧</caption>
<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>店名</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.customer.name %></td>
        <td>
          <%#= link_to post_path(bookmark.id) do %>
            <%= bookmark.post.stor_name %>
          <%# end %>
        </td>
        <td><%= bookmark.post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>